<div class="columns">
  <div class="column">
    <%= render 'your_shelves' %>
  </div>
  <div class="column is-half">
    <%= render 'blog' %>
  </div>
  <div class="column">
    <%= render 'recommendations' %>
  </div>
</div>
