<div class="navbar is-light">
  <div class="navbar-brand">
    <div class="navbar-item">
      LOGO
    </div>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <div class="navbar-item">
        Item1
      </div>
      <div class="navbar-item">
        Item2
      </div>
      <div class="navbar-item">
        Item3
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        Profile
      </div>
      <div class="navbar-item">
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </div>
</div>
