<h6 class="is-6">
  <%= review.user.first_name %>
  <%= "rated it #{review.rating}" unless review.rating.nil? %>
  <% if review.user == current_user %>
    (<%= link_to 'Edit', edit_book_book_review_path(review.book, review), remote: true %> | <a>Delete</a>)
  <% end %>
</h6>
<p>
  <%= review.body %>
<p>
